h1 {
    color:crimson;
}
.container {
    margin-left: 10%;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 1px 1px 10px aliceblue;
}
.p-blue {
    color: darkslateblue;
}

.p-red {
    color: crimson;
}

.veg {
    color: darkolivegreen;
}

.fruit {
    color: crimson;
}