h1 {
    color:crimson;
}
.container {
    margin-left: 10%;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 1px 1px 10px aliceblue;
}
.p-blue {
    color: darkslateblue;
}

.p-red {
    color: crimson;
}

.veg {
    color: darkolivegreen;
}

.fruit {
    color: crimson;
}

.table th {
    position: relative;
    border-right: solid 1px gray;
}

td {
    border-right: solid 1px gray;
}
.resizer {
    /* Displayed at the right side of column */
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    -webkit-user-select: none;
    user-select: none;
}